{% extends "navigator.html" %}
{% block head %}
<script src="{{ static_url("js/echarts.min.js") }}"></script>
{% end %}
{% block main %}
<div class="container">
    <!-- Basic Info Section -->
    <section class="info-section" id="BasicInfo">
        <div class="code col-md-2">{{ stock_item[1] }}</div>
        <div class="name col-md-8">{{ stock_item[2] }}</div>
        <div class="col-md-2">
            <span class="score-label">策略评分</span>
            <span class="score">{{ stock_item[3] }}</span>
            <div class="score-index">#{{ stock_item[0] }}</div>
        </div>
    </section>

    <!-- Last Day Price Section -->
    <section class="info-section" id="LastDayPrice">
        <div class="section-title">昨日收盘</div>
        <div class="row">
            <div class="col-md-9">
                <span class="price">{{ stock_item[4] }}</span>
                <span class="price-text">{{ stock_item[5] }}</span>
                <span class="price-text">{{ stock_item[6] }}</span>
            </div>
            <div class="industry col-md-3">所属行业:{{ stock_item[7] }}</div>
        </div>
    </section>

    <!-- Quantitative Screening Section -->
    <section class="info-section" id="QuantitativeScreening">
        <div class="section-title">量化选股</div>
        <div class="quantitative_pills">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#Strategy" aria-controls="Strategy" role="pill" data-toggle="pill">策略选股</a></li>
                <li role="presentation"><a href="#News" aria-controls="News" role="pill" data-toggle="pill">消息选股</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="Strategy">
                    <script type="text/javascript">
                        var myChart = echarts.init(document.getElementById('Strategy'));
                        var option = {
                            title: {
                                text: 'ECharts 入门示例'
                            },
                            tooltip: {},
                            legend: {
                                data:['销量']
                            },
                            xAxis: {
                                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                            },
                            yAxis: {},
                            series: [{
                                name: '销量',
                                type: 'bar',
                                data: [5, 20, 36, 10, 10, 20]
                            }]
                        };
                        myChart.setOption(option);
                    </script> 
                </div>
                <div role="tabpanel" class="tab-pane fade" id="News">...</div>
            </div>
        </div>
    </section>
</div>
{% end %}
