{% extends "banner.html" %}
{% block main %}
    <!-- jumbotron -->
    <div class="jumbotron index-header">
        <div class="container">
            <h1>{{ jumbotron }}</h1>
        </div>
    </div>

    <!-- main content -->
    <div class="container">
        <div class="row table-header">
            <div class="col-md-2">#</div>
            <div class="col-md-3">股票代码</div>
            <div class="col-md-4">股票名称</div>
            <div class="col-md-3">策略评分</div>
        </div>
        <ul class="list-group">
            {% for stock_item in stock_items %}
            <a href="/info/{{ stock_item[1] }}" class="list-group-item">
                <div class="row">
                    <div class="col-md-2">{{ stock_item[0] }}</div>
                    <div class="col-md-3">{{ stock_item[1] }}</div>
                    <div class="col-md-4">{{ stock_item[2] }}</div>
                    <div class="col-md-3">{{ stock_item[3] }}</div>
                </div>
            </a>
            {% end %}
            
        </ul>
    </div>
{% end %}
