/* To allow a sticky footer and a fixed banner */
html{
    position: relative;
    min-height: 100%;
}
body{
    padding-top: 54px;
    margin-bottom: 90px;
}

/* Navigator */
.navigator{
    background-color: #E1E7E8;
}
.navigator .navbar-brand img{
    height: 30px;
    margin-top: -5px;
}
.navigator .navbar-right .navbar-btn{
    margin-left: 20px;
}
.navigator .navbar-text span{
    margin-right: 5px;
    border-radius: 30px;
    border: 2px solid rgb(119, 119, 119);
    padding: 2px;
}
.navigator .navbar-form .btn:hover{
    background-color: #fff;
}
.navigator #Login{
    background-color: #fff;
    width: 80px;
}
.navigator #Register{
    width: 80px;
    color: #fff;
    background-color: #B22E2F;
    border-color: #E1E7E8;
}

/* Footer */
.footer{
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1B2B32;
}
.footer .container{
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
