<nav class="text-center">
    <ul class="pagination" name="{{ pagination_source }}">
          <li class="page-formal">
              <span aria-hidden="true">上一页</span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <!-- 左端省略号 -->
          <li class="disabled left-ellipsis">
              <span aria-hidden="true">···</span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <!--右端省略号 -->
          <li class="disabled right-ellipsis">
              <span aria-hidden="true">···</span>
          </li>
          <li class="pages">
              <span aria-hidden="true"></span>
          </li>
          <li class="page-next">
              <span aria-hidden="true">下一页</span>
          </li>
    </ul>
</nav>
